<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    {{#link-to "index" class="navbar-brand"}}Nutri-Track{{/link-to}}
    <div class="text-right">
      {{#if session.isAuthenticated}}
        <a href="#" {{action "invalidateSession"}}>Logout</a>
      {{else}}
        {{#link-to "register" class="btn btn-primary"}}Register{{/link-to}}
        {{#link-to "login" class="btn btn-primary"}}Login{{/link-to}}
      {{/if}}
    </div>
  </div>
</nav>
