<h3>{{this.model.length}} foods purchased</h3>
<a class="ml-2" title="Nice and Serious [CC0], via Wikimedia Commons"
  href="https://commons.wikimedia.org/wiki/File:Calendar_(89059)_-_The_Noun_Project.svg">
  <img width="30"
    alt="Calendar (89059) - The Noun Project"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Calendar_%2889059%29_-_The_Noun_Project.svg/512px-Calendar_%2889059%29_-_The_Noun_Project.svg.png">
</a>

{{primary-nutri-info model=this.model}}
