// Food grade styles
.A {
  background-color: #31d607;
}

.B {
  background-color: #229504;
}

.C {
  background-color: #ffa200;
}

.D {
  background-color: #ff0000;
}

.G {
  background-color: #3dc120;
}

.tooltip-inner {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #ccc;
}

.tooltip.show {
  opacity:1!important;
}

.arrow {
  color: #fff !important;
  &::before {
    border-top-color: #ccc !important;
  }
}
