// Food grade styles
.A {
  background-color: #31d607;
}

.B {
  background-color: #229504;
}

.C {
  background-color: #ffa200;
}

.D {
  background-color: #ff0000;
}

.G {
  background-color: #3dc120;
}
