<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="m-5">Track your foods right from your grocery receipt</h1>
        <a href="/register" class="btn btn-secondary">Join now</a>
      </div>
    </div>
  </div>
</header>
