<div class="container">
  <h1>My Foods</h1>
  {{#if this.model.length}}
    {{#each this.model as |food|}}
      <p>{{food.long_name}}</p>
    {{/each}}
  {{else}}
    <p>No food found</p>
  {{/if}}
  {{file-upload url=uploadUrl addProducts=(action "addProducts")}}
</div>
